.author-label{
    font-size: 14px;
    color: #281212;
    font-weight: bold;
    padding: 5px 5px;
    margin: 2px;
    background: #c0c0c0;
}

.author-label span {
    padding: 2px;
    cursor: pointer;
}

.phone-span {
    color: #281212;
    font-weight: bold;
    padding: 10px 10px;
    margin: 10px 10px 0px 0px;
    background: #c0c0c0;
    cursor: pointer;
}

.remove{
    cursor: pointer;
}

.authors-div{
    display: flex;
    flex-wrap: wrap;
}

.select-author{
    padding: 5px;
    background-color: #c0c0c0;
    width: 100%;
    cursor: pointer;
}

.author-div{
    background-color: #e0d4d0;
    padding: 10px;
}