
.div-input{
    padding: 10px;
}

.div-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.div-input span{
    font-size: 14px;
    font-weight: bold;
}

.login-container{
    display: flex;
    padding: 10px;
}

.login{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
}

.login-div{
    margin-left: 50px;
}
button{
    padding: 5px;
    margin-left: 10px;
    background-color: #1c5061;
    color: #fff;
    font-size: 14px;
}

.auth-section{
    padding: 20px;
    text-align: center;
    width: 50%;
}